<!doctype html>
<html lan="es" ng-app="cifradoApp">
  <head>
    <meta charset="utf-8">
    <link href="css/application.min.css" rel="stylesheet">
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/web-mqtt-client/mqttws31.min.js"></script>
    <script src="js/app.js"></script>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>
    <div class="container"  ng-controller="mqttwsController">
      <main id="content" class="widget-login-container" role="main">
        <div class="row">
          <div class="col-lg-4 col-sm-6 col-xs-10 col-lg-offset-4 col-sm-offset-3 col-xs-offset-1">
            <h4 class="widget-login-logo animated fadeInUp">
              <i class="fa fa-circle text-gray"></i>
                MQTT client
              <i class="fa fa-circle text-warning"></i>
            </h4>
            <form name="form" role="form" >
              <div class="form-group">
                <label for="message">Topico
                  <em></em>
                </label>
                <input placeholder="suscribir" ng-model="topic" name="topic" id="topic" cols="50" rows="8"></input>
              </div>
              <div class="form-group">
                <label for="message">Mensaje
                  <em></em>
                </label>
                <textarea placeholder="Mensaje" ng-model="messageSubs" name="messageSubs" id="messageSubs" cols="50" rows="8"></textarea>
              </div>
            </form>
          </div>
        </div>
      </main>
      <footer class="page-footer" style="padding:25px;text-align:center;">
        Copyright &copy; 2016 - 2017 ~ BeaGons!
      </footer>
    </div>
  </body>
</html>
